<!DOCTYPE html>
<html lang="en" ng-app="Songparsr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <base href="/">
    <title>Songparsr</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <!-- Materialize CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <!-- Local CSS -->
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.1/angular-materialize.min.js"></script>
    <!-- ngRoute routing module from angular -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>

    <!-- Local JavaScript -->
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/controllers/IndexController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/TrackResultsController.js"></script>

  </head>
  <body>
    <div class="container">
      <header>
        <div class="logo">
          <h3>Songparsr</h3>
        </div> <!-- .logo -->
        <div class="searchbar">
          <div class="row">
            <div class="col s1">
              <i class="material-icons searchicon">search</i>
            </div> <!-- .searchicon -->
            <div class="col s11">
              <div input-field>
                <input type="text" placeholder="Search by Song">
              </div> <!-- .input-field -->
            </div> <!-- .col s11 -->
          </div> <!-- .row -->
        </div> <!-- searchbar -->
      </header>

      <div ng-view></div>

    </div> <!-- .container -->
  </body>
</html>
