<div class="track">
  <div class="row">
    <div class="col s12" ng-controller="LyricsController as lyricsCtrl">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text album"> <!-- on hover add class z-depth-3-->
          <div class="row">
            <div class="col s4">
              <img class="topalbumpic "src="{{lyricsCtrl.track.album.images[1].url}}" alt="">
            </div>
            <div class="col s7 songdata">
              <span class="songname topsong"><strong>{{lyricsCtrl.track.name}}</strong><br></span>
              <span class="artistname topsong"><em>{{lyricsCtrl.track.album.name}}</em><br></span>
              <span class="albumname topsong">{{lyricsCtrl.track.artists[0].name}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="lyrics">
        All the single ladies. What I hear no one else has to know. Wanna show you how much I really care about your heart. I find myself in love racing the earth. And I can't help but to think about it day and night. Cause if you liked it then you should have put a ring on it. Cause' I know. I wanna keep it how it is but youcan never say how it used to be!. Wanna show you how much I value what you say. Ears closed. I'm scared of lonely. I'm doing my own little thing. As I watch my feet take turns hitting the ground. I'm sinking in the sand and I can't barely stand
        <br><br>
        All the single ladies, all the single ladies. Sit back and watch!. Swirling on my babe, swirling, swirling on my babe. I'll be rocking on my babe, rocking, rocking on my babe. I pray you catch me listening. I wanna make that body rock. If you liked it then you shoulda put a ring on it. And I'm soaked in your love. And I can't keep waiting, I need comfort late at night. And I can't find my way, won't you lead me home?. I'm scared of lonely. Cause another brother noticed me. All the single ladies, all the single ladies. Oh, oh, oh
        <br><br>
        Tonight I'm gonna put my body on your body. I'm lost in this dream, I need you to hold me. Loving you is really all that's on my mind. I'm in this fight and I'm swinging and my arms are getting tired. Head down. And I'm scared of the only heart beat I hear beating is my own. I try to be patient but I'm hurting deep inside. Not only are you loyal, you're patient with me babe, yes. And I'm scared of being the only shadow I see along a wall. Ya can't be mad at me. I wanna run (run). Pressed against the walls of your world. And love was right in my path, in my grasp. I just wanna show you how much I appreciate you, yes
        <br><br>
        Constantly aware of it all, my lonely ear. Wanna show you how much I'm dedicated to you, yes. Smash into you. I pray you catch me. Pray to catch you whispering. I'm prayin' to catch you whispering. 'Cause I'm lost in this dream, I need you to hold me. Smash into you. Don't be mad once you see that he want it. Tonight it's going down. If you liked it then you shoulda put a ring on it. Decided to dip and now you wanna trip. All the single ladies, all the single ladies. If you liked it then you shoulda put a ring on it. Boy I like it when you watch me, ah
        <br><br>
        Tonight I'm gonna dance for you, oh. Wanna show you how much I hate being apart, yes. Wanna show you how much yougot your girl feeling good, yes. And me and you belong. Wanna show you show you show you till you through with me. Now put your hands up. Up in the club, we just broke up. Wanna show you how much I will forever be true, yes. Just cried my tears, for three good years. You can taste the dishonesty, it's all over your breath. If you liked it then you should have put a ring on it. Don't be mad once you see that he want it. I'm up on him, he up on me. As you pass it off so cavalier, but even that's a test
      </div>
    </div>
  </div>
</div> <!-- .track-->
