.logo {
  text-align: center;
  font-family: "Noto Sans";
}

.searchbar {
  margin: -20px 0 0 0;
}

.searchicon {
  font-size: 35px;
  margin-left: -10px;
  padding-top: 20px;
}

.searchbutton {
  width: 100%;
}

h5 {
  margin: -15px 0 20px;
  text-align: center;
}

.tophits {
  margin: -15px 0;
}

.album {
  border: 1px solid black;
  height: 120px;
  width: 100%;
  background-color: #546E7A;
}

.songdata {
  margin-top: -10px;
}

.topsong {
  font-size: 1.2em;
}

.topalbumpic {
  margin-top: -12px;
  margin-left: -10px;
  border: 1px solid black;
  height: 100px;
}

.trackresults {
  text-align: center;
}

.lyrics {
  border: 1px solid black;
  padding: 3px;
}

.songresultpic {
  margin-left: -2px;
}

/*.dropdown-button {
  width: 100%;
  border-radius: 0;
}*/
