body {
  background-color: #FF4C3B;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  max-width: 100%;
}

.logo {
  text-align: center;
  font-family: Lobster, cursive;
}

.searchbar {
  margin: -20px 0 0 0;
}

.searchicon {
  font-size: 35px;
  margin-left: -10px;
  padding-top: 20px;
}


.searchbutton {
  width: 100%;
}

h3, h5 {
  color: #FFD034;
  font-family: Lobster;
}

h5 {
  margin: -15px 0 20px;
  text-align: center;
}

span {
  font-family: "Noto Sans", sans-serif;
}

.tophits {
  margin: -15px 0;
}

.album {
  border: 1px solid black;
  height: 120px;
  width: 100%;
  background-color: #0072BB;
}

.songdata {
  margin-top: -10px;
}

.topsong {
  font-size: 1.2em;
}

.topalbumpic {
  margin-top: -12px;
  margin-left: -10px;
  border: 1px solid black;
  height: 100px;
}

.trackresults {
  text-align: center;
}

.lyrics {
  border: 1px solid black;
  padding: 3px;
}

.songresultpic {
  margin-left: -2px;
}

.lyrics {
  background-color: #FFD034;
  padding: 5px;
}

/*.dropdown-button {
  width: 100%;
  border-radius: 0;
}*/
